html,
body {
    height: 100%;
    width: 100%;
    background: #D8D8D8;
}

#container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    font-size: 2rem;
    margin-top: 1em;
    margin-left: 4.1em;
    margin-right: 4.1em;
    padding-bottom: 4.1em;
    background: #aa4b6b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3b8d99, #6b6b83, #aa4b6b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}